<div class="clearfix2"></div>
<div class="content d-flex justify-content-center align-items-center">
  <h1>SAFE YOURSELF FROM HOMELESSNESS</h1>
  <h2>Sign In</h2>
  <form method="POST" action="/users/login" id="loginForm" role="form" data-toggle="validator">
    <% if(error) { %>
    <div class="alert alert-danger">
      <%- error %>
    </div>
    <% } %> <% if(success) { %>
    <div class="alert alert-success">
      <%- success %>
    </div>
    <% }%>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        id="email"
        class="form-control text-input"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter Email"
        data-bv-notempty="true"
        data-bv-notempty-message="The email address is required and cannot be empty. <i class='fas fa-times-circle'></i>"
        data-bv-emailaddress="true"
        data-bv-emailaddress-message="The email address is not a valid. <i class='fas fa-times-circle'></i>"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control text-input"
        name="password"
        placeholder="Enter Password"
        data-bv-notempty="true"
        data-bv-notempty-message="The password is required and cannot be empty. <i class='fas fa-times-circle'></i>"
        data-bv-stringlength="true"
        data-bv-stringlength-min="8"
        data-bv-stringlength-message="The password must have at least 8 characters. <i class='fas fa-times-circle'></i>"
      />
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
