<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <ul class="row">
    <li class="col-md-3">
      <a href="tel:000" class="exit" title="Call 000 in Emergency">
        Emergency <i class="fa fa-phone" aria-hidden="true"></i> 000</a
      >
    </li>
    <li class="col-md-3">
      Font Size:
      <div class="font" onclick="resizeText(1)">A+</div>
      <div class="font" onclick="resizeText(-1)">A-</div>
    </li>
    <li class="col-md-3">
      Font:
      <select id="fontChooser">
        <optgroup label="Monospace Fonts">
          <option value="Lucida Console">"Lucida Console", Monaco, monospace</option>
          <option value="CourierNew">"Courier New", Courier, monospace</option>
        </optgroup>
        <optgroup label="Serif Fonts">
          <option value="Georgia">Georgia, serif</option>
          <option value="Palatino Linotype"
            >"Palatino Linotype", "Book Antiqua", Palatino, serif</option
          >
          <option value="Times New Roman Serif">"Times New Roman", Times, serif</option>
        </optgroup>
        <optgroup label="Sans-Serif Fonts">
          <option value="Arial">Arial, Helvetica, sans-serif</option>
          <option value="Comic Sans MS">"Comic Sans MS", cursive, sans-serif</option>
          <option value="Verdana Sans MS">Verdana, Geneva, sans-serif</option>
        </optgroup>
      </select>
    </li>
    <li class="col-md-3">
      <div
        class="exit"
        onclick="window.location.href='http://www.google.com/'"
        title="Exit/Hide Website"
      >
        Close Website X
      </div>
    </li>
  </ul>
</nav>
