<div class="admin-nav nav nav-pills nav-justifie">
  <a
    class="nav-item nav-link active admin-nav"
    id="account-tab"
    data-toggle="pill"
    href="#account"
    role="tab"
    aria-controls="account-tab"
    aria-selected="true"
    >Account Management</a
  >
  <a
    class="nav-item nav-link admin-nav"
    id="users-tab"
    data-toggle="pill"
    href="#users"
    role="tab"
    aria-controls="users-tab"
    aria-selected="false"
    >Users Management</a
  >
  <a
    class="nav-item nav-link admin-nav"
    id="reasons-tab"
    data-toggle="pill"
    href="#reasons"
    role="tab"
    aria-controls="reasons"
    aria-selected="false"
    >Reasons Management</a
  >
  <a
    class="nav-item nav-link admin-nav"
    id="services-tab"
    data-toggle="pill"
    href="#services"
    role="tab"
    aria-controls="services"
    aria-selected="false"
    >Services Management</a
  >
</div>
