<!-----modal-->
<div
  class="modal fade"
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="passwordModalheading"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="passwordForm" action="" onsubmit="return checksubmit()">
          <div class="alert-issues alert alert-danger"></div>
          <input type="hidden" id="changecreateduser" name="changecreateduser" value="" />
          <input type="hidden" name="changeupdateduser" value="<%- user.id %>" />
          <input type="hidden" name="changeid" id="changeid" value="" />

          <div class="form-group">
            <label for="Password">Password</label>
            <input
              id="changepassword"
              type="password"
              onChange="checkpassword(this)"
              class="form-control text-input"
              name="changepassword"
              placeholder="Enter Password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Retype-Password</label>
            <input
              type="password"
              onChange="checkrepassword(this)"
              class="form-control text-input"
              name="changepassword2"
              id="changepassword2"
              placeholder="Retype-Password"
            />
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
