<!-----modal-->
<script>
  var storedServices=<%- JSON.stringify(storedServices)  %>;
</script>

<div
  class="modal fade"
  id="AddReason"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalReason"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalReason"></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" id="reasonForm" role="form" data-toggle="validator">
          <input type="hidden" name="createduser" value="<%- user.id %>" />
          <input type="hidden" name="updateduser" value="<%- user.id %>" />
          <div class="form-group">
            <label for="reason">Reason</label>
            <input
              type="text"
              class="form-control"
              id="reason"
              name="reason"
              placeholder="Enter Reason"
              data-bv-notempty="true"
              data-bv-notempty-message="Reason is required and cannot be empty.   -X"
              data-bv-stringlength="true"
              data-bv-stringlength-min="3"
              data-bv-stringlength-max="30"
              data-bv-stringlength-message="'Reason must be more than 3 and less than 30 characters long.   -X'"
              data-bv-regexp="true"
              data-bv-regexp-regexp="^[A-Za-z\s]+$"
              data-bv-regexp-message="'Reason can be only should be alphabets.   -X'"
            />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="reason"
              >Class Symbol for Reason (Please refer to
              <a href="https://fontawesome.com/icons?d=gallery"> Fontawesome 5 website</a> for
              input.)
            </label>
            <input
              type="text"
              class="form-control"
              id="symbol"
              name="symbol"
              placeholder="Enter class name for Symbol"
            />
            <div class="help-block with-errors"></div>
          </div>

          <div id="choices"></div>
          <p class="btn-primary" onclick="createQuestion();">
            Add detail and needed service for this Reason
          </p>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
