<!-----modal-->
<div
  class="modal fade"
  id="AddUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalUser"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalUser">Add User</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="userForm" action="/users/adduser" enctype="multipart/form-data"
        role="form"
        data-toggle="validator">
          <input type="hidden" id="createduser" name="createduser" value="<%- user.id %>" />
          <input type="hidden" name="updateduser" value="<%- user.id %>" />

          <div class="form-group">
            <label for="username">Name</label>
            <input
              id="username"
              type="name"
              class="form-control text-input"
              name="username"
              placeholder="Enter your Name"
              data-bv-notempty="true"
              data-bv-notempty-message="Name is required and cannot be empty. <i class='fas fa-times-circle'></i>"
              data-bv-stringlength="true"
              data-bv-stringlength-min="3"
              data-bv-stringlength-max="30"
              data-bv-stringlength-message="Name must be more than 3 and less than 30 characters long. <i class='fas fa-times-circle'></i>"
              data-bv-regexp="true"
              data-bv-regexp-regexp="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
              data-bv-regexp-message="Name should be characters. <i class='fas fa-times-circle'></i>"
            />
          </div>
          <div class="form-group">
            <label for="role">Role</label><br />
            <select id="role" name="role" class="text-input" required>
              <option></option>
              <option>Developer</option>
              <option>Content Writer</option>
              <option>Member</option>
              <option>Monitor</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              id="email"
              type="email"
              class="form-control text-input"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter Email"
              data-bv-notempty="true"
              data-bv-notempty-message="The email address is required and cannot be empty. <i class='fas fa-times-circle'></i>"

              data-bv-emailaddress="true"
              data-bv-emailaddress-message="The email address is not a valid. <i class='fas fa-times-circle'></i>"
            />
          </div><div class="form-group">
            <label for="Password">Password</label>
            <input
              id="password"
              type="password"
              onChange="checkpassword(this)"
              class="form-control text-input"
              name="password"
              placeholder="Enter Password"
              data-bv-notempty="true"
              data-bv-notempty-message="The password is required and cannot be empty. <i class='fas fa-times-circle'></i>"

              data-bv-stringlength="true"
              data-bv-stringlength-min="8"
              data-bv-stringlength-message="The password must have at least 8 characters. <i class='fas fa-times-circle'></i>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Retype-Password</label>
            <input
              type="password"
              class="form-control text-input"
              name="password2"
              id="password2"
              placeholder="Retype-Password"
            />
            <div id="alert"></div>
            </div>
            <div class="form-group">
              <label for="image">Profile Image</label>
              <input
                type="file"
                name="image"
              />
            </div>
          <button type="submit" class="btn" id="userbutton">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
