<div class="content d-flex justify-content-center align-items-center">
  <h1>SAFE YOURSELF FROM BEING HOMELESSNESS</h1>
  <h2>Take few easy steps to prevent Homelessness.</h2>
  <strong>Let Start...</strong><br /><br />
  <a href="./questions" class="btn">START</a>
</div>
