<div class="content d-flex justify-content-center align-items-center">
  <h1>SAFE YOURSELF FROM HOMELESSNESS</h1>
  <h3>Take few easy steps to prevent Homelessness.</h3>
  <strong>Your age is ...</strong><br /><br />
  <a href="reasons" class="btn">Below 25 years</a><br /><br />
  <a href="reasons" class="btn">Above 25 years</a>
</div>
