<div class="content d-flex justify-content-center align-items-center">
  <h1>SAFE YOURSELF FROM BEING HOMELESSNESS</h1>
  <h2>Take few easy steps to prevent Homelessness.</h2>
  <h3>Let Start...</h3>

  <div class="row">
    <a href="./reasons" class="btn">START</a>
  </div>
</div>
